.barchart-background-container {
    background-color: var(--dark-container-bg);
    border-radius: 10px;
    width: 30%;
    height: 100%;
    min-width: 0;
    min-height: 200px;
    min-width: 300px;
}
